{% extends "_helpers/_base.html" %}

{% block content %}
<div class="container mt-2">
    <h2 class="mb-4">Currency Converter</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="{{ form.amount.id }}" class="form-label">Amount:</label>
            {{ form.amount }}
        </div>
        <div class="mb-3">
            <label for="{{ form.from_currency.id }}" class="form-label">From currency:</label>
            {{ form.from_currency }}
        </div>
        <div class="mb-3">
            <label for="{{ form.to_currency.id }}" class="form-label">To currency:</label>
            {{ form.to_currency }}
        </div>
        <div class="mb-3">
            <button type="submit" name="convert" class="btn btn-primary">Convert</button>
            <button type="submit" name="clear" class="btn btn-secondary">Clear</button>
        </div>
    </form>

    {% if converted_amount is not None %}
        <p class="mt-3 text">Converted value: {{ amount }} {{ from_currency }}
            = {{ converted_amount }} {{ to_currency }}</p>
    {% endif %}
</div>
{% endblock %}
