{% extends "_helpers/_base.html" %}

{% block content %}
    <style>
    .page-header {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .page-header h2 {
        margin-right: 20px;
        font-size: 24px;
        color: #333;
    }

    .create-wallet-link {
        color: #007BFF;
        text-decoration: none;
        font-weight: bold;
        font-size: 20px;
    }

    .wallet-list {
        list-style-type: none;
        padding: 0;
    }

    .wallet-list li {
        margin-bottom: 10px;
    }

     .wallet-link {
            text-decoration: none;
            color: #cb4d0d;
            font-weight: bold;
        }

    .wallet-link:hover {
        text-decoration: underline;
    }

</style>
    <div class="page-header">
        <h2>Wallet list</h2>
        <a href="{% url 'tracker:wallet_create' %}" class="create-wallet-link">Create new wallet</a>
    </div>

    <ul class="wallet-list">
        {% for wallet in wallets %}
            <li><a href="{% url 'tracker:wallet_detail' wallet.id %}" class="wallet-link">{{ wallet.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

