<header>
    <h1> Financial tracker </h1>
</header>
<nav>
<div class="navbar">
    <div class="navbar-left">
        <a href="{% url 'base:home_page' %}"> Home </a>
        <a href="{% url 'base:about' %}"> About Us </a>
    </div>
        {% if user.is_authenticated %}
            <a href="{% url 'tracker:currency_converter' %}">Converter</a>
            <a href="{% url 'tracker:cryptocurrency' %}">Cryptocurrency</a>
        <div class="dropdown">
            <a class="dropdown" href="#" role="button" id="userDropdown" data-bs-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                {{ user.username.capitalize }}
            </a>
            <div class="dropdown-menu" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{% url 'tracker:wallet_list' %}">Wallet list</a>
                <a class="dropdown-item" href="{% url 'tracker:logout' %}" class="logout-button">Logout</a>
            </div>
        </div>

        {% else %}
            <a href="{% url 'tracker:register' %}"> Registration </a>
            <a href="{% url 'tracker:login' %}"> Login </a>
        {% endif %}
        {% if user.is_superuser %}
            <a href="{% url 'admin:index' %}"> Admin panel </a>
        {% endif %}
</div>

</nav>
